@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.logo{
  width: 100px;

}

.header{
  display: flex;
  border: 2px solid red;
  justify-content: space-between;
}


.nav-items > ul{
  display: flex;
  margin:22px;
}

.nav-items > ul > li{
  margin:22px;
  list-style: none;
  
}

.login-btn{
  margin-left:3px;
  padding: 0 20px;
  cursor: pointer;
}

.body{
  margin: 8px 0;
}

.filter{
  padding:6px 0;
  display: flex;

}

.filter > button{
  padding: 2px 6px;
  border-radius: 5px;
  cursor: pointer;

}

.search{
   margin:0 10px;
}
.search > button{
  padding: 2px 6px;
  border-radius: 5px;
  cursor: pointer;

}

.search > input{
  padding: 2px 6px;
  border-radius: 5px;
  cursor: pointer;

}
.res-container{
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  /* margin:0 10px; */

}

.res-card{
  background-color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  width:180px;
  padding:10px;
  margin:25px;
}

.res-card:hover{
  border: 2px solid black;
  cursor: pointer;

}

.res-img{
  text-align: center;
}
.res-img >img{
  width: 180px;
  height: 200px;
  
}
.shimmer-container{
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  margin-top:30px;
}

.shimmer-card{
  background-color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  width:180px;
  height:400px;
  padding:10px;
  margin:25px;
}

.shimmer-img{
  background-color:#b1b1b1;
  width: 180px;
  height: 200px;
}

